<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://cdn.tailwindcss.com"></script>
<title>Edit Done</title>
<style type="text/css">
	span {
		display: inline-block;
		width: 200px;
		text-align: left;
	}
</style>
</head>
<body class="bg-slate-400">
	<div align="center">
		<header class="bg-gray-200">
		    <span class="text-2xl font-bold mr-48">最新消息模組</span>
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer"><a href="/home">首頁</a></button>
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer"><a href="/all_news">所有消息</a></button>
		</header>
		<h1>Add Successed!</h1>
		<form action="#" th:action="@{/edit}" th:object="${campaign}" class="h-screen">
			<span>標題:</span><span th:text="${campaign.title}"></span><br>
			<span>副標題:</span><span th:text="${campaign.subTitle}"></span><br>
			<span>開始時間:</span><span th:text="${campaign.startTime}"></span><br>
			<span>結束時間:</span><span th:text="${campaign.endTime}"></span><br>
			<span>內容:</span><span th:text="${campaign.content}"></span><br>
			<span>副內容:</span><span th:text="${campaign.subContent}"></span><br>
		</form>
	</div>
	<footer class="py-24 bg-gray-200">
	  <p>版權所有© 2023 Github-hibiki4945</p>
	</footer>
</body>
</html>